// Colors
$primary:  #F57B51;
$white: #ffffff;
$black: #000000;
$grey:  #F0EFEC;
$dark-grey: #B5B5B5;

//Bg-colors
$bg-black: #101010;
$light-grey: #F0EFEC;

//Fonts-family
$fyLater: 'Five Years Later' sans-serif;
$oSans: 'Object Sans' sans-serif;